@page "/about"
<PageTitle>About</PageTitle>


<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    Erat nonumy et praesent lorem invidunt nisl accusam dolor eos aliquip sit no sed in et magna at delenit consetetur hendrerit takimata elit et lobortis rebum et justo sed hendrerit diam lorem nonumy dolor duo dolores accusam velit no facilisis
                </p>
                <div class="row">
                    <ul>
                        <li><i class="oi oi-thumb-up"></i>Magna dolores euismod sit aliquyam </li>
                        <li><i class="oi oi-thumb-up"></i>Dolor diam dolores consequat duo </li>
                        <li><i class="oi oi-thumb-up"></i>Dolore erat erat stet et </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

    </div>
</section>

@code {

}
