@page "/contact"
<PageTitle>Contact</PageTitle>
<section id="contact" class="d-flex align-items-center">
    <div class="container">
        <div class="section-title">
            <h2>Contact Us</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="details">
            <div>Phone: 08160330138</div>
            <div> Email: bakarepraise3@gmail.com</div>
        </div>
    </div>
</section>

@code {

}
