@page "/"

<PageTitle>Home</PageTitle>

<section id="home" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Explore Our Amazing Plans</h1>
                <h2>Our plans are tailored made to suit our various classes of customers. Owning a Smartphone more than ever has now been made so easy, convenient, and enjoyable</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 home-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="css/home.png" class="img-fluid animated" alt="">
            </div>  
        </div>
    </div>
</section>

<section id="clients" class="clients section-bg">
    <div class="container">
        <div class="row" data-aos="zoom-in">
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="css/Intelligra-Brand-Logo-1.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="css/Intelligra-Brand-Logo-1.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="css/Intelligra-Brand-Logo-1.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="css/Intelligra-Brand-Logo-1.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="css/Intelligra-Brand-Logo-1.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <img src="css/Intelligra-Brand-Logo-1.png" class="img-fluid" alt="">
            </div>

        </div>

    </div>
</section>
