@page "/service"
<PageTitle>Services</PageTitle>
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Our Services</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="row">
            <ul>
                <li>Magna dolores euismod sit aliquyam </li>
                <li>Dolor diam dolores consequat duo </li>
                <li>Dolore erat erat stet et </li>
            </ul>
        </div>
    </div>
</section>

@code {

}
