@inherits LayoutComponentBase

<PageTitle>Basic SITE</PageTitle>

<header id="header" class="fixed-top">
    <NavMenu/>
</header>
<main id="main">
    @Body
</main>
<footer>
    <div class="copyright">&copy Copyright 2023. Intelligra</div>
</footer>